@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Space+Grotesk&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	min-width: 100%;
	min-height: 100vh;
	font-family:sans-serif;
}

.hero-section{
	width:100%;
	height: 100vh;
	background:#FA781F url('../img/yemi.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	color:white;
	padding: 60px;
}

.hero-section>h1{
	font-family: 'DM Sans', sans-serif;
	font-size: 80px;
	
	text-align:center;
	margin-top: 160px;
	
}

.hero-section>h3{
	font-family: 'Space Grotesk', sans-serif;
	margin-top: 20px;
}

.hero-section>h2{
	font-family: 'DM Sans', sans-serif;
	font-size:40px;
	margin-top: 10px;
}

.hero-section button{
	font-family: 'DM Sans',sans-serif;
	font-weight:bold;
	width:180px;
	height: 38px;
	padding: 0 5px;
	margin-top: 10px;
	display:flex;
	align-items:center;
	justify-content:center;
	border: none;
	border-radius:48px;
	background:#FFC700;
	cursor:pointer;
}


.hero-section button>img{
	height:15px;
	margin-right: 10px;
}

.new-section{
	width:100%;
	height: 80vh;
	padding: 60px;
}

.new-section>h3{
	font-family: 'DM Sans',sans-serif;
	display:flex;
	align-items:center;
}

.new-section>h3>img{
	height:35px;
	margin-right:5px;
}

.new-videos-container{
	width:100%;
	/* background:pink; */
	margin-top: 25px;
}

.new-videos-filter{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.new-video-box{
	height: 350px;
	width:290px;
	/* background:yellow; */
}

.new-video-box>header{
	width: 100%;
	height: 65%;
	background:#C4C4C4;
}

.new-video-box>footer{
	font-family: 'DM Sans',sans-serif;
	width: 100%;
	height: 35%;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	
}

@media (max-width:550px){
	
	.hero-section>h1{
		font-size: 70px;
	}
	
	.hero-section>h2{
		font-size:35px;
	}
	
}

@media (max-width:500px){
	.hero-section{
		padding: 20px;
	}
	
	.hero-section>h1{
		font-size: 50px;
	}
	
	.hero-section>h2{
		font-size:30px;
	}
}